@model University_Registration.Models.Major

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Adminlayout2.cshtml";
}

@section header{

    <a href="#" class="nav-link">Majors</a>

}

@section active{


    <ul class="side-menu top">
        <li>
            <a href="/FacilitiesAdmin/Index">
                <i class="fa-solid fa-building-columns"></i>
                <span class="text">Facilities</span>
            </a>
        </li>
        <li class="active">
            <a href="/MajorsAdmin/Index">
                <i class="fa-solid fa-graduation-cap"></i>
                <span class="text">Majors</span>
            </a>
        </li>

        <li>
            <a href="/SubjectsAdmin/Index">
                <i class="fa-solid fa-book"></i>
                <span class="text">Courses</span>
            </a>
        </li>

        <li>
            <a href="/StudentsAdmin/Index">
                <i class="fa-sharp fa-solid fa-users"></i>
                <span class="text">Students</span>
            </a>
        </li>

        <li>
            <a href="/StudentsAdmin/Acceptt">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="text">Accept Student</span>
            </a>
        </li>
        <li>
            <a href="/StudentsAdmin/Rejectt">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <span class="text">Reject Student</span>
            </a>
        </li>

        <li>
            <a href="/SubjectRegistrationsAdmin/Index">
                <i class="fa-solid fa-money-bill"></i>
                <span class="text">Payment</span>
            </a>
        </li>
        <li>
            <a href="/SubjectRegistrationsAdmin/Index2">
                <i class="fa-solid fa-dollar-sign"></i>
                <span class="text">Progress Payment</span>
            </a>
        </li>
        <li>
            <a href="/staticAdmin/Index">
                <i class="fas fa-chart-bar"></i>
                <span class="text">statistics </span>
            </a>
        </li>
    </ul>


}


<style>
    tr td:first-child {
        padding: 1rem;
        width: 200px;
    }
</style>

<h3>Are you sure you want to delete this?</h3>


<table class="dl-horizontal">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>

        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Description)
        </td>

        <td>
            @Html.DisplayFor(model => model.Description)

        </td>
    </tr>
    <tr>


        <td>
            Price
        </td>

        <td>
            @Html.DisplayFor(model => model.price)
        </td>
    </tr>

    <tr>
        <td>
            Facility Name
        </td>

        <td>
            @Html.DisplayFor(model => model.Facility.Name)
        </td>
    </tr>
    <tr>
        <td>
            Major Image

        </td>
        <td>
            <img src="~/Images/@Model.Major_Image" style="width:100px;height:150px;" />
        </td>
    </tr>






</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </div>
}
