@model University_Registration.Models.Major

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Adminlayout2.cshtml";
}

@section header{

    <a href="#" class="nav-link">Majors</a>

}

@section active{


    <ul class="side-menu top">
        <li>
            <a href="/FacilitiesAdmin/Index">
                <i class="fa-solid fa-building-columns"></i>
                <span class="text">Facilities</span>
            </a>
        </li>
        <li class="active">
            <a href="/MajorsAdmin/Index">
                <i class="fa-solid fa-graduation-cap"></i>
                <span class="text">Majors</span>
            </a>
        </li>

        <li>
            <a href="/SubjectsAdmin/Index">
                <i class="fa-solid fa-book"></i>
                <span class="text">Courses</span>
            </a>
        </li>

        <li>
            <a href="/StudentsAdmin/Index">
                <i class="fa-sharp fa-solid fa-users"></i>
                <span class="text">Students</span>
            </a>
        </li>

        <li>
            <a href="/StudentsAdmin/Acceptt">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span class="text">Accept Student</span>
            </a>
        </li>
        <li>
            <a href="/StudentsAdmin/Rejectt">
                <i class="fa fa-ban" aria-hidden="true"></i>
                <span class="text">Reject Student</span>
            </a>
        </li>

        <li>
            <a href="/SubjectRegistrationsAdmin/Index">
                <i class="fa-solid fa-money-bill"></i>
                <span class="text">Payment</span>
            </a>
        </li>
        <li>
            <a href="/SubjectRegistrationsAdmin/Index2">
                <i class="fa-solid fa-dollar-sign"></i>
                <span class="text">Progress Payment</span>
            </a>
        </li>
        <li>
            <a href="/staticAdmin/Index">
                <i class="fas fa-chart-bar"></i>
                <span class="text">statistics </span>
            </a>
        </li>
    </ul>


}

<style>
    tr td:first-child {
        padding: 1rem;
        width: 200px;
    }
</style>


@using (Html.BeginForm("Edit", "MajorsAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Major_ID)
        <table>
            <tr>
                <td>

                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })

                </td>
                <td>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })

                </td>
                <td>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                   Major Image

                </td>
                <td>
                    <img src="~/Images/@Model.Major_Image" style="width:60px;height:60px;" class="thumbnail" />

                    <input type="file" class="form-control" accept="image/*" name="picture" />
                    @Html.ValidationMessageFor(model => model.Major_Image, "", new { @class = "text-danger"})
                </td>
            </tr>
            <tr>
                <td>
                    Facility Name
                </td>
                <td>
                    @Html.DropDownList("Facility_ID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Facility_ID, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    Price

                </td>
                <td>
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>






        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>
}
