
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}




<!-- Breadcrumb section -->
<div class="site-breadcrumb">
    <div class="container">
        <a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-right"></i>
        <span>About Us</span>
    </div>
</div>
<!-- Breadcrumb section end -->
<!-- About section -->
<section class="about-section spad pt-0">
    <div class="container">
        <div class="section-title text-center">
            <h3>WELCOME TO EZUCA</h3>
            <p>Let children creative and make a different</p>
        </div>
        <div class="row">
            <div class="col-lg-6 about-text">
                <h5>About us</h5>
                <p>Unica University is a prestigious institution of higher education dedicated to providing students with a well-rounded academic experience that prepares them for success in their chosen fields. Founded on the principles of academic excellence and innovation, Unica University is committed to fostering a culture of creativity, critical thinking, and lifelong learning.</p>
                <h5 class="pt-4">Our history</h5>
                
                <ul class="about-list">
                    <li><i class="fa fa-check-square-o"></i> University Faculties organise teaching and research into individual subjects.</li>
                    <li><i class="fa fa-check-square-o"></i> The University is rich in history - its famous buildings attract visitors.</li>
                    <li><i class="fa fa-check-square-o"></i> 50 years of people, and achievements that continue to transform.</li>
                    <li><i class="fa fa-check-square-o"></i> The University's core values are as follows:freedom of thought.</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <img src="~/Content/img/about.jpg" alt="">
             
            </div>
        </div>
    </div>
</section>
<!-- About section end-->
<!-- Testimonial section  -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="testimonial-slider owl-carousel">
            <div class="ts-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ts-author-pic set-bg" data-setbg="@Url.Content("~/Content/img/member/5.jpg")"></div>
                    </div>
                    <div class="col-md-9 ts-text">
                        <p>“ I want to let you know that I am very absolutely delighted with the course in every respect. It has been particularly pleasing for me, with an interest in seeing the application and good educational practice to school education. Learn a different approach that leads to better outcomes. ”</p>
                        <h5>Mr. Peter Crough</h5>
                        <span>Student’s Parent</span>
                    </div>
                </div>
            </div>
            <div class="ts-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ts-author-pic set-bg" data-setbg="@Url.Content("~/Content/img/member/5.jpg")"></div>
                    </div>
                    <div class="col-md-9 ts-text">
                        <p>“ I want to let you know that I am very absolutely delighted with the course in every respect. It has been particularly pleasing for me, with an interest in seeing the application and good educational practice to school education. Learn a different approach that leads to better outcomes. ”</p>
                        <h5>Mr. Peter Crough</h5>
                        <span>Student’s Parent</span>
                    </div>
                </div>
            </div>
            <div class="ts-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ts-author-pic set-bg" data-setbg="@Url.Content("~/Content/img/member/5.jpg")"></div>
                    </div>
                    <div class="col-md-9 ts-text">
                        <p>“ I want to let you know that I am very absolutely delighted with the course in every respect. It has been particularly pleasing for me, with an interest in seeing the application and good educational practice to school education. Learn a different approach that leads to better outcomes. ”</p>
                        <h5>Mr. Peter Crough</h5>
                        <span>Student’s Parent</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial section end -->
<!-- Team section  -->
<section class="team-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>OUR TEAM</h3>
            <p>The professional standards and expectations</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-pic set-bg" data-setbg="@Url.Content("~/Content/img/raghad.jpeg")">
                        <div class="member-social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <h5>Raghad Alghoul</h5>
                    <p>Quality Assurance</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-pic set-bg" data-setbg="@Url.Content("~/Content/img/lujain.jpeg")">
                        <div class="member-social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <h5>Lujain Alnouti</h5>
                    <p>Producr Owner</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-pic set-bg" data-setbg="@Url.Content("~/Content/img/mos.jpeg")">
                        <div class="member-social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <h5>Mosab Ghannam</h5>
                    <p>Scrum Master</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-pic set-bg" data-setbg="@Url.Content("~/Content/img/malik.jpeg")">
                        <div class="member-social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <h5>Malik Obaidat</h5>
                    <p>Devloper</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-pic set-bg" data-setbg="@Url.Content("~/Content/img/momen.jpeg")">
                        <div class="member-social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <h5>Momen Abu alhaija</h5>
                    <p>Devloper</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="member">
                    <div class="member-pic set-bg" data-setbg="@Url.Content("~/Content/img/haya.jpeg")">
                        <div class="member-social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <h5>Haya Alkhateeb</h5>
                    <p>Devloper</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Team section end -->
