@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}



<!-- Hero section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/Content/img/hero-slider/1.jpg")">
            @*<div class="hs-item set-bg" data-setbg="~/Content/img/hero-slider/1.jpg">
            *@
            <div class="hs-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="hs-subtitle">Award Winning UNIVERSITY</div>
                            <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
                            <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
                            <a href="/Account/Register"><div class="site-btn">GET STARTED</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hs-item set-bg" data-setbg="@Url.Content("~/Content/img/hero-slider/2.jpg")">

            @*<div class="hs-item set-bg" data-setbg="~/Content/img/hero-slider/2.jpg">
            *@
            <div class="hs-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="hs-subtitle">Award Winning UNIVERSITY</div>
                            <h2 class="hs-title">An investment in knowledge pays the best interest.</h2>
                            <p class="hs-des">Education is not just about going to school and getting a degree. It's about widening your<br> knowledge and absorbing the truth about life. Knowledge is power.</p>
                            <a href="/Account/Register"><div class="site-btn">GET STARTED</div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Hero section end -->
<!-- Services section -->
<section class="service-section spad" id="servic">
    <div class="container services">
        <div class="section-title text-center">
            <h3>OUR SERVICES</h3>
            <p>We provides the opportunity to prepare for life</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 service-item">
                <div class="service-icon">
                    <img src="../Content/img/services-icons/1.png" alt="1">
                </div>
                <div class="service-content">
                    <h4>Art Studio</h4>
                    <p> University provide students with access to studio space, such as a designated room or building where students can work on their art projects. The studio space may be open for use during specific hours or may be available for students to reserve in advance.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 service-item">
                <div class="service-icon">
                    <img src="../Content/img/services-icons/2.png" alt="1">
                </div>
                <div class="service-content">
                    <h4>Great Facility</h4>
                    <p>University is accessible, safe, and comfortable to use, with modern technology and equipment that allows students and faculty to carry out their work effectively. It should also be designed to foster a sense of community and collaboration, encouraging interaction between students, faculty, and staff.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 service-item">
                <div class="service-icon">
                    <img src="../Content/img/services-icons/3.png" alt="1">
                </div>
                <div class="service-content">
                    <h4>Activity Hub</h4>
                    <p> University provides a wide range of resources and opportunities for students to engage in extracurricular activities and events. It is a place where students can connect with other students who share similar interests and hobbies, and participate in activities and events that support their personal and professional development.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 service-item">
                <div class="service-icon">
                    <img src="../Content/img/services-icons/4.png" alt="1">
                </div>
                <div class="service-content">
                    <h4>Fully Qualified</h4>
                    <p>Students has completed all the necessary requirements to earn a degree or certification from a recognized institution. This may include completing a specific set of courses, achieving a minimum grade point average, passing comprehensive exams, or completing a capstone project or thesis.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 service-item">
                <div class="service-icon">
                    <img src="../Content/img/services-icons/5.png" alt="1">
                </div>
                <div class="service-content">
                    <h4>Flexible Schedule</h4>
                    <p>University allows students to have more control over their class schedules and the pace at which they complete their coursework. Instead of being required to attend classes at specific times and days, students are often given a range of options for when they can attend classes or complete assignments. </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 service-item">
                <div class="service-icon">
                    <img src="../Content/img/services-icons/6.png" alt="1">
                </div>
                <div class="service-content">
                    <h4>Chemistry Lab</h4>
                    <p> Universities  providing access to well-equipped laboratory facilities, equipment, and expert guidance to conduct chemistry experiments and research. These services are designed to support the teaching and research needs of university students, faculty, and researchers .</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services section end -->
<!-- Enroll section -->
<section class="enroll-section spad set-bg" data-setbg="@Url.Content("~/Content/img/enroll-bg.jpg")">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title text-white">
                    <h3>ENROLLMENT</h3>
                    <p>Get started with us to explore the exciting</p>
                </div>
                <div class="enroll-list text-white">
                    <div class="enroll-list-item">
                        <span>1</span>
                        <h5>Browse Our Website</h5>
                        <p>Browse Facility and courses and select your interests</p>
                    </div>
                    <div class="enroll-list-item">
                        <span>2</span>
                        <h5>Register</h5>
                        <p>Submit an application to join the university and wait for a response.</p>
                    </div>
                    <div class="enroll-list-item">
                        <span>3</span>
                        <h5>Set your schedule</h5>
                        <p>Add your Cources for the first semester.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 offset-lg-1 p-lg-0 p-4">
                <img src="~/Content/img/encroll-img.jpg" />
            </div>
        </div>
    </div>
</section>
<!-- course item -->
@Html.Raw(File.ReadAllText(Server.MapPath("~/Views/mainHome/HtmlPage1.html")))
<!-- Courses section end-->
<!-- Fact section -->
<section class="fact-section spad set-bg" data-setbg="~/Content/img/fact-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 fact">
                <div class="fact-icon">
                    <i class="ti-crown"></i>
                </div>
                <div class="fact-text">
                    <h2>50</h2>
                    <p>YEARS</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 fact">
                <div class="fact-icon">
                    <i class="ti-briefcase"></i>
                </div>
                <div class="fact-text">
                    <h2>80</h2>
                    <p>TEACHERS</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 fact">
                <div class="fact-icon">
                    <i class="ti-user"></i>
                </div>
                <div class="fact-text">
                    <h2>500</h2>
                    <p>STUDENTS</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 fact">
                <div class="fact-icon">
                    <i class="ti-pencil-alt"></i>
                </div>
                <div class="fact-text">
                    <h2>800+</h2>
                    <p>LESSONS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fact section end-->
<!-- Gallery section -->
<section class="blog-section spad">
    <h3 style="text-transform: uppercase; margin-bottom: 20px; font-family: 'Rubik', sans-serif ;text-align:center;display:block">OUR Gallery</h3>
    <p style="margin-bottom: 70px;text-align:center">collection of Image from University Facility</p>
    <div class="gallery-section">
        @*new*@
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gallery-item gi-big set-bg" data-setbg="@Url.Content("~/Content/img/gallery/1.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/1.jpg")"><i class="ti-plus"></i></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="@Url.Content("~/Content/img/gallery/2.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/2.jpg")"><i class="ti-plus"></i></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="@Url.Content("~/Content/img/gallery/3.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/3.jpg")"><i class="ti-plus"></i></a>
            </div>
            <div class="gallery-item gi-long set-bg" data-setbg="@Url.Content("~/Content/img/gallery/5.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/3.jpg")"><i class="ti-plus"></i></a>
            </div>
            <div class="gallery-item gi-big set-bg" data-setbg="@Url.Content("~/Content/img/gallery/8.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/8.jpg")"><i class="ti-plus"></i></a>
            </div>
            <div class="gallery-item gi-long set-bg" data-setbg="@Url.Content("~/Content/img/gallery/4.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/4.jpg")"><i class="ti-plus"></i></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="@Url.Content("~/Content/img/gallery/6.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/6.jpg")"><i class="ti-plus"></i></a>
            </div>
            <div class="gallery-item set-bg" data-setbg="@Url.Content("~/Content/img/gallery/7.jpg")">
                <a class="img-popup" href="@Url.Content("~/Content/img/gallery/7.jpg")"><i class="ti-plus"></i></a>
            </div>
        </div>
        @*new*@

    </div>
</section>
<!-- Gallery section -->
<!-- Blog section -->
<section class="blog-section spad">
    <div class="container">
        <div class="section-title text-center">
            <h3>LATEST NEWS</h3>
            <p>Get latest breaking news & top stories today</p>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="blog-item">
                    <div class="blog-thumb set-bg" data-setbg="@Url.Content("~/Content/img/blog/1.jpg")"></div>
                    <div class="blog-content">
                        <h4>Parents who try to be their children’s best friends</h4>
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar-o"></i> 24 Mar 2018</span>
                            <span><i class="fa fa-user"></i> Owen Wilson</span>
                        </div>
                        <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="blog-item">
                    <div class="blog-thumb set-bg" data-setbg="@Url.Content("~/Content/img/blog/2.jpg")"></div>
                    <div class="blog-content">
                        <h4>Graduations could be delayed as external examiners</h4>
                        <div class="blog-meta">
                            <span><i class="fa fa-calendar-o"></i> 23 Mar 2018</span>
                            <span><i class="fa fa-user"></i> Owen Wilson</span>
                        </div>
                        <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                    </div>
                </div>
            </div>
            @*<div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="@Url.Content("~/Content/img/blog/3.jpg")"></div>
                        <div class="blog-content">
                            <h4>Private schools adopt a Ucas style application system</h4>
                                <span><i class="fa fa-calendar-o"></i> 24 Mar 2018</span>
                                <span><i class="fa fa-user"></i> Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="blog-item">
                        <div class="blog-thumb set-bg" data-setbg="@Url.Content("~/Content/img/blog/4.jpg")"></div>
                        <div class="blog-content">
                            <h4>Cambridge digs in at the top of university league table</h4>
                            <div class="blog-meta">
                                <span><i class="fa fa-calendar-o"></i> 23 Mar 2018</span>
                                <span><i class="fa fa-user"></i> Owen Wilson</span>
                            </div>
                            <p>Integer luctus diam ac scerisque consectetur. Vimus dot euismod neganeco lacus sit amet. Aenean interdus mid vitae sed accumsan...</p>
                        </div>
                    </div>
                </div>*@

        </div>
</section>
